<% if user_signed_in? %>
  <% if @user.works %>
        <%= form_for @user, url: profile_path(@user) do |f| %>
	<div class="row">
          <% @user.works.each do |work| %>
	  <div class="col-md-4">
	      <%= f.radio_button :masterpiece, work.id %> masterpiece | <%= link_to "Edit Work", edit_profile_work_path(@user, work) %><br><%= image_tag work.image.url(:medium) %>
	  </div>
            <% end %>
	</div>
	<br>
        <%= f.label :artist_statement %>
        <%= f.text_area :artist_statement %>
        <%= f.label :zip %>
        <%= f.text_field :zip %>
        <%= f.label :website %>
        <%= f.text_field :website %>
        <%= f.submit "Save" %>
        <% end %>
	<br>
  Upload a new piece:
  <%= render '/works/upload' %>
  <% else %>
  You must be signed in to see this page
  <% end %>
<% end %>
