<h2><%= @user.first_name + " " + @user.last_name %></h2><% if @user.website && @user.website != "" %><%= link_to "Website", "http://#{@user.website}", target: "_blank" %> | <% end %><%= link_to "Contact", "mailto:#{@user.email}" %>

	<% if @user == current_user %>
		
		<% if @user.artist_statement && @user.artist_statement != ""%>
			<div style="text-align:right;width:60%;margin:0 0 0 30px"><h4>Artist Statement</h4>
		<%= @user.artist_statement %><br></div>
	<% end %>
	<br>
<%= link_to "Edit Profile", edit_profile_path %><br>
<% end %>
<div class="row">
	<%= render @user.works %>
</div><br>
