<h2><%= @user.first_name + " " + @user.last_name %></h2>
<% if @user == current_user %>
<%= link_to "Edit Profile", edit_profile_path %><br>
<% end %>
<div class="row">
<%= render @user.works %>
</div><br>
<% if @user.artist_statement && @user.artist_statement != ""%>
Artist Statement:
<%= @user.artist_statement %><br>
<% end %>
<% if @user.zip %>
Location:
<%= @user.zip %><br>
<% end %>
<% if @user.website && @user.website != ""%>
<%= link_to "Website", "http://#{@user.website}", target: "_blank" %>
<% end %>
