<div class="section">
	<div style="position:absolute;top:2%;right:0%;">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %><span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li><%= link_to "Profile", profile_path(current_user) %></li>
			<li><%= link_to "Feed", feed_path %></a></li>
			<li><%= link_to "Collection", collection_path %></li>
			<% if current_user.artist %><li><%= link_to 'Messages', conversations_path %></li><% end %>
			<li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> </li>
		</ul>
	</div>
	<div id="discovery-cover-text" style="display:none">
		<h1 style="font-size: 6em;">Welcome to Discovery</h1>
		scroll through the catalog to get a fresh glimpse of new works at new-aesthetic
	</div>
	<%= image_tag 'arrow.png', id: 'arrow', style: 'display:none'  %>
</div>

<% @works.each_with_index do |work,i| %>
	<div class="section <%= if (i+1)%2==0; 'discover_work'; else; 'discover_work_reverse' end %>" style="background-image: url(<%= work.image.url(:large) %>);">
		<div class="<%= if (i+1)%2==0; 'discover_text'; else; 'discover_text_reverse'; end %>"><i><%= work.name %></i><br>
			<a href='<%= profile_path(User.find(work.user_id)) %>'><%= User.find(work.user_id).full_name %></a><br>
			<div class="thumbnail-text">
				<% if !current_user.pieces.include?(work) %>
					<%= form_tag(add_piece_path, method: :post, remote: true ) do %>
						<%= hidden_field_tag(:curator, current_user.id) %>
						<%= hidden_field_tag(:piece, work.id) %>
						<%= submit_tag "add to your collection", class:"btn btn-sm" %>
					<% end %>
				<% else %>
					<%= form_tag(remove_piece_path, method: :delete, remote: true ) do %>
						<%= hidden_field_tag(:curator, current_user.id) %>
						<%= hidden_field_tag(:piece, work.id) %>
						<%= submit_tag("remove from your collection", class:"btn btn-sm") %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<script>
$(document).ready(function() {
	$('#discovery-cover-text').fadeIn('slow');
	$('#arrow').fadeIn('slow');
	
	var s = ['discover'];
	$('.discover_text,.discover_text_reverse').each(function() { s.push($(this).text()) });
	$('#fullpage').fullpage({
		navigation: true,
		navigationPosition: 'right',
		navigationTooltips: s
	});
});
</script>
