<div class="section">
	<div style="position:absolute;top:2%;right:0%;"><%= link_to current_user.full_name, profile_path(current_user) %></div>
	<div id="discovery-cover-text" style="display:none"><h1 style="font-size: 6em;">Welcome to Discovery</h1>
	scroll through the catalog to get a fresh glimpse of new works at new-aesthetic</div>
	<%= image_tag 'arrow.png', id: 'arrow', style: 'display:none'  %>
</div>

<% @works.each_with_index do |work,i| %>
	<div class="section" style="background-image: url(<%= work.image.url(:large) %>);background-size:50% auto;background-repeat:no-repeat;background-position: <%= if (i+1)%2==0; 'left'; else; 'right' end %>;overflow:hidden;">
		<div class="<%= if (i+1)%2==0; 'discover_text'; else; 'discover_text_reverse'; end %>"><i><%= work.name %></i><br>
			<a href='<%= profile_path(User.find(work.user_id)) %>'><%= User.find(work.user_id).full_name %></a><br>
			<div class="thumbnail-text">
			<% if !current_user.pieces.include?(work) %>
				<%= form_tag(add_piece_path, method: :post, remote: true ) do %>
					<%= hidden_field_tag(:curator, current_user.id) %>
					<%= hidden_field_tag(:piece, work.id) %>
					<%= submit_tag "add to your collection", class:"btn btn-sm" %>
				<% end %>
			<% else %>
				<%= form_tag(remove_piece_path, method: :delete, remote: true ) do %>
					<%= hidden_field_tag(:curator, current_user.id) %>
					<%= hidden_field_tag(:piece, work.id) %>
					<%= submit_tag("remove from your collection", class:"btn btn-sm") %>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
<% end %>

<script>
$(document).ready(function() {
	$('#discovery-cover-text').fadeIn('slow');
	$('#arrow').fadeIn('slow');
	
	var s = ['discover'];
	$('.discover_text,.discover_text_reverse').each(function() { s.push($(this).text()) });
	$('#fullpage').fullpage({
		navigation: true,
		navigationPosition: 'right',
		navigationTooltips: s
	});
});
</script>
