<% if @user.works.length < 3 %>
	<div class="form-horizontal">
		<%= form_for [@user, Work.new], url: profile_works_path(@user.id), html: {multipart: true} do |f| %>
			<% if @user.works.any? %>
				<% if @user.works.last.errors.any? %>
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<% @user.works.last.errors.full_messages.each do |msg| %>
							<div class=""><%= msg %></div>
						<% end %>
					</div>
				<% end %>
			<% end %>
			<div class="form-group">
				<%= f.label :name, class: "control-label" %>
				<%= f.text_field :name, value: 'Untitled', class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.file_field :image %>
			</div>
			<div class="form-group">
				<%= f.label :tag_list, "Tags:", class: "control-label" %>
			</div>
			<div class="checkbox tagbox">
				<%= f.collection_check_boxes(:tag_list, ActsAsTaggableOn::Tag.all, :name, :name) do |b| %>
				<%= b.label(class:'cbox') {b.check_box + b.text} %>
				<% end %>
			</div>
			<div class="form-group">

				<%= f.label :type, "Add Tag:", class: "control-label" %>
				<%= f.text_field :type, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.submit "Upload Photo", class: "btn btn-md" %>
			</div>
	<% end %>
	</div>
<% else %>
	You can only upload 3 images!
<% end %>
