<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


  </head>
  <body>

    <style>
      #bg {
      position: fixed;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      }
      #bg img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      }
    </style>
    <div id="bg">
	    <% user = User.random_user %>
	    <%= image_tag Work.find(user.masterpiece).image.url(:large) %>
    </div>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
      	<div class="cover-container">
      	  <div class="inner-cover rounded-2">
            <br>
                <h1>N / A</h1>
            	    <p class="lead">the new arts network</p>
                  <img src="Zoe.png" alt="Zoe" height="150" width="110" class="rounded-2">
                  <img src="Gerardo.png" alt="Gerardo" height="150" width="170" class="rounded-2">
                  <img src="Janey.png" alt="Janey" height="150" width="110" class="rounded-2">
                  <br><br>
          	      <p style="margin-left: 5px; margin-right: 5px;">New Aesthetic's mission is to provide enhanced exposure for emerging artists.
                   We believe in the value of opportunity and our platform is not only a place for artists to showcase their works,
                   but to open up communication with curators, collectors and fellow artists.</p>
                   <br><br>
      	  </div>
      	</div>
      	<div class="mastfoot">
		<div class="inner center">
			<p><%= Work.find(user.masterpiece).name %> by <%= user.full_name %></p>
		</div>
	</div>

      </div>
    </div>
    <%= render 'style' %>

  </body>
</html>
