<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>

		<style>
		#bg {
			position: fixed;
			top: -50%;
			left: -50%;
			width: 200%;
			height: 200%;
		}
		#bg img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			min-width: 50%;
			min-height: 50%;
		}
		</style>
		<div id="bg">
			<% user = User.random_user %>
			<%= image_tag Work.find(user.masterpiece).image.url(:large) %>
		</div>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover" style="display:none">
						<h1>NEW AESTHETIC</h1>
						<%= link_to "about", about_path %>
						<br><br>
						<div class="text-area">
							<% if !user_signed_in? %>
								<a href="#" class="btn btn-md btn-default" id="sign_in">sign in</a>
								<a href="#" class="btn btn-md btn-default" id="sign_up">sign up</a>
    							<% else %>
								<%= link_to current_user.first_name + " " + current_user.last_name, profile_path(current_user) %>
									<br><%= link_to "signout", destroy_user_session_path, :method => :delete %>
							<% end %>
							<div id="sign_in_form" style="display:none;">
								<br>
								<%= render 'sign_in' %>
							</div>
							<div id="sign_up_form" style="display:none;">
								<br>
								<%= render 'sign_up_form' %>
							</div>
						</div>
					</div>
					<div class="mastfoot">
						<div class="inner">
							<p><%= Work.find(user.masterpiece).name %> by <%= user.full_name %></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%= render(partial: 'sign_up', format: 'js') %>
		<%= render 'style' %>
	</body>
</html>
