<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>


  </head>
  <body>

    <style>
      #bg {
      position: fixed;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      }
      #bg img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      }
    </style>
    <div id="bg">
      <%= image_tag User.random_masterpiece %>
    </div>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
	<div class="cover-container">
	  <div class="inner cover">
	    <h1>NEW AESTHETIC</h1>
  	    <p class="lead">the new arts network</p>
        <% if !user_signed_in? %>
    	    <p class="lead"> <%= link_to 'login', new_user_session_path, class:"btn btn-lg btn-default" %></p>
    	    <p class="lead"> <%= link_to "sign up",new_user_registration_path, class:"btn btn-lg btn-default"  %> </p>
        <% else %>
          <p class="lead"> <%= link_to "User", profile_path(current_user) %> </p>
          <%= link_to "signout", destroy_user_session_path, :method => :delete %>
        <% end %>
	  </div>
	</div>
      </div>
    </div>

  </body>
</html>
