<% if @results.length > 0 %>
	<% @results.each do |result| %>
		<% if result.class == Work %>
			<%= render Work.find(result.id) %>
		<% else %>
			<% if result.searchable.class == User %>
				<p><%= (link_to "#{result.searchable.first_name} #{result.searchable.last_name}", profile_path(result.searchable)) %></p>
			<% elsif result.searchable.class == Work %>
				<p><%= link_to profile_path(User.find(result.searchable.user_id)) do %>
					<%= render Work.find(result.searchable) %>
				<% end %> </p>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<%= "No matches found." %>
<% end %>
