<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= link_to "My Portfolio", user_path %><br>
    Own feed (following artists)<br>
    Collection (Pinned Collection)<br>
    Discovery (Access to works and artists who display on the platform)<br>
    <% end %>
    <%= link_to "About us", about_path %> <br>
    
    <%= yield %>

  </body>
</html>
