<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if !user_signed_in? %>
      Welcome <br>
      <%= link_to "Sign in", new_user_session_path %> <br>
      <%= link_to "Sign up", new_user_registration_path %><br>
    <% else %>
      <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> <br>
      <%= link_to "My Portfolio", user_path(current_user) %><br>
      Own feed (following artists)<br>
      Collection (Pinned Collection)<br>
      Discovery (Access to works and artists who display on the platform)<br>
    <% end %>
    <%= link_to "About us", about_path %> <br>

      <%= yield %>
      
  </body>
</html>
